#!/bin/bash
#exec > "/opt/pbs_server/backups/logs/$(date +'%Y-%m-%d')ultron_backup.log" 2>&1
exec > >(tee "/opt/pbs_server/backups/logs/$(date +'%Y-%m-%d')_ultron_backup.log") 2>&1

echo "================================================="
echo "Running Scheduled Offsite Backup ($(date '+%m/%d/%Y %H:%M:%S'))"
echo "================================================="
echo "-"

echo "STARTING ultron backup to cloud..."
sudo rclone sync /opt/pbs_server/backups/ultron-backups proton:Backups/homelab/ultron-backups

echo "ultron backup to cloud COMPLETE!"
echo "-"

echo "================================================="
echo "Scheduled Offsite Backup is Complete ($(date '+%m/%d/%Y %H:%M:%S'))"
echo "================================================="
