(cloudflare) {
	tls {
		dns cloudflare {{ cloudflare_token }}
	}
}
# jellyfin
#jellyfin.{{ cloudflare_domain }} {
#	reverse_proxy http://jellyfin:8096
#	import cloudflare
#}

{% for host in groups['servers'] %}
{% if hostvars[host].reverse_proxy is defined %}

# {{ host }}  
{% if hostvars[host].reverse_proxy.tls_insecure | default(false) %}
{{ hostvars[host].reverse_proxy.subdomain }}.{{ cloudflare_domain }} {
  reverse_proxy https://{{ host }}:{{ hostvars[host].reverse_proxy.port }} {
   # header_up X-Forwarded-Proto https
    transport http {
      tls_insecure_skip_verify
    }
  }
  import cloudflare
}
{% else %}
{{ hostvars[host].reverse_proxy.subdomain }}.{{ cloudflare_domain }} {
  reverse_proxy http://{{ host }}:{{ hostvars[host].reverse_proxy.port }}
  import cloudflare
}
{% endif %}
{% endif %}
{% endfor %}
