---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/bookmarks

- Infrastructure:
    - GitHub:
        - icon: si-github
          href: https://github.com/pmontgo33?tab=repositories
    - Proxmox Helper Scripts:
        - icon: https://raw.githubusercontent.com/tteck/Proxmox/main/misc/images/logo.png
          href: https://tteck.github.io/Proxmox/

- Networking:
    - Tailscale:
        - icon: sh-tailscale.svg
          href: https://login.tailscale.com/admin/machines
    - Cloudflare:
        - icon: sh-cloudflare.svg
          href: https://dash.cloudflare.com/login

- Storage:
    - Backblaze:
        - icon: sh-backblaze.svg
          href: https://secure.backblaze.com/user_signin.htm

- Documentation:
    - Home Assistant Docs:
        - icon: sh-home-assistant.svg
          href: https://www.home-assistant.io/docs/
    - Homepage Docs:
        - icon: sh-homepage.png
          href: https://gethomepage.dev/
    - Frigate Docs:
        - icon: sh-frigate.svg
          href: https://docs.frigate.video/
    - NixOS Search:
        - icon: sh-nixos.svg
          href: https://search.nixos.org/packages
    - NixOS Wiki:
        - icon: sh-nixos.svg
          href: https://nixos.wiki/wiki/Main_Page
    - Ansible Docs:
        - icon: sh-ansible.svg
          href: https://docs.ansible.com/ansible/latest/index.html
