---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/services


### ALL TABS ###

- Status:
    - Uptime Kuma:
        href: https://uptime.{{ local_cloudflare_domain }}
        siteMonitor: https://uptime.{{ local_cloudflare_domain }}
        icon: sh-uptime-kuma.svg
        widget:
            type: uptimekuma
            url: https://uptime.{{ local_cloudflare_domain }}
            slug: homepage
    - MySpeed:
        href: https://myspeed.{{ local_cloudflare_domain }}
        siteMonitor: https://myspeed.{{ local_cloudflare_domain }}
        icon: sh-myspeed.png
        widget:
            type: myspeed
            url: https://myspeed.{{ local_cloudflare_domain }}
    - Dockge:
        href: https://dockge.{{ local_cloudflare_domain }}
        siteMonitor: https://dockge.{{ local_cloudflare_domain }}
        icon: sh-dockge.svg
    - Gotify:
        href: https://notify.{{ cloudflare_domain }}
        siteMonitor: https://notify.{{ cloudflare_domain }}
        icon: sh-gotify.svg



### MACHINES ###

- Proxmox:
    - Stark:
        href: https://stark.{{ local_cloudflare_domain }}
        siteMonitor: https://stark.{{ local_cloudflare_domain }}
        description: Proxmox VE
        icon: sh-proxmox.svg
        widget:
            type: proxmox
            url: https://stark.{{ local_cloudflare_domain }}
            username: {{proxmox_username}}
            password: {{proxmox_password}}
            node: stark # optional
    - Loki:
        href: https://loki.{{ local_cloudflare_domain }}
        siteMonitor: https://loki.{{ local_cloudflare_domain }}
        description: Proxmox VE
        icon: sh-proxmox.svg
        widget:
            type: proxmox
            url: https://loki.{{ local_cloudflare_domain }}
            username: {{proxmox_username}}
            password: {{proxmox_password}}
            node: loki # optional
    - Starlord:
        href: https://starlord.{{ local_cloudflare_domain }}
        siteMonitor: https://starlord.{{ local_cloudflare_domain }}
        description: Proxmox VE
        icon: sh-proxmox.svg
        widget:
            type: proxmox
            url: https://starlord.{{ local_cloudflare_domain }}
            username: {{proxmox_username}}
            password: {{proxmox_password}}
            node: starlord # optional
    
- Storage:    
    - TrueNAS Home:
        href: https://truenas.{{ local_cloudflare_domain }}
        siteMonitor: https://truenas.{{ local_cloudflare_domain }}
        description: TrueNAS Scale
        icon: sh-truenas-scale.svg
        widget:
            type: truenas
            url: https://truenas.{{ local_cloudflare_domain }}
            username: {{truenas_username}} # not required if using api key
            password: {{truenas_password}} # not required if using api key
            # key: yourtruenasapikey # not required if using username / password
            #enablePools: true # optional, defaults to false
            nasType: scale # defaults to scale, must be set to 'core' if using enablePools with TrueNAS Core
    - Proxmox Backup Server:
        href: https://pbs.{{ local_cloudflare_domain }}
        siteMonitor: https://pbs.{{ local_cloudflare_domain }}
        #description: Proxmox
        icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/proxmox-light.png
        widget:
            type: proxmoxbackupserver
            url: https://pbs.{{ local_cloudflare_domain }}
            username: {{pbs_username}}
            password: {{pbs_password}}
    - Syncthing:
        href: https://{{hostvars['truenas'].ip}}:20910/
        siteMonitor: https://{{hostvars['truenas'].ip}}:20910/
        icon: sh-syncthing.svg
        
    - Backblaze:
        href: https://secure.backblaze.com/user_signin.htm
        icon: sh-backblaze.svg

- Other Machines:    
    - PiKVM:
        href: https://pikvm.skink-galaxy.ts.net
        siteMonitor: https://pikvm.skink-galaxy.ts.net
     #   description: 
        icon: https://avatars.githubusercontent.com/u/41749659?s=200&v=4
    - Print Server:
        href: http://print-server.skink-galaxy.ts.net:631/
        siteMonitor: http://print-server.skink-galaxy.ts.net:631/
        icon: sh-openprinting-cups.svg
    - Nix Fury VS Code:
        href: http://{{hostvars['nix-fury'].ip}}:8443
        siteMonitor: http://{{hostvars['nix-fury'].ip}}:8443
        description: VS Code Server to edit homepage config
        icon: sh-visual-studio-code.svg
    - Yondu VS Code:
        href: http://{{hostvars['yondu'].ip}}:8680
        siteMonitor: http://{{hostvars['yondu'].ip}}:8680
        description: VS Code Server for yondu server
        icon: https://cdn3.iconfinder.com/data/icons/marvel-avatars-flaticons/64/yondu-avangers-marvel-avatars-gartoon-marvel_avatars-hero-512.png
- Offsite:
    - Wakanda:
        href: https://wakanda.skink-galaxy.ts.net:8006/
        siteMonitor: https://wakanda.skink-galaxy.ts.net:8006/
        description: Offsite Proxmox VE
        icon: sh-proxmox.svg
        widget:
            type: proxmox
            url: https://wakanda.skink-galaxy.ts.net:8006
            username: {{wakanda_username}}
            password: {{wakanda_password}}
            node: wakanda # optional
    - Bucky TrueNAS:
        href: https://bucky.skink-galaxy.ts.net/
        siteMonitor: https://bucky.skink-galaxy.ts.net/
        description: Offsite TrueNAS Scale
        icon: sh-truenas-scale.svg
        widget:
            type: truenas
            url: https://bucky.skink-galaxy.ts.net/
            username: {{bucky_username}} # not required if using api key
            password: {{bucky_password}} # not required if using api key
            # key: yourtruenasapikey # not required if using username / password
            #enablePools: true # optional, defaults to false
            nasType: scale # defaults to scale, must be set to 'core' if using enablePools with TrueNAS Core
    - Bucky Backup Link:
        href: https://10.10.12.10
        siteMonitor: https://10.10.12.10
        description: Backup Link to Bucky
        icon: sh-truenas-scale.svg
    - DigitalOcean:
        href: https://cloud.digitalocean.com/projects/8c2d35b4-ab76-4750-87db-4230144b4a44/resources?i=d4b54a
        description: DigitalOcean VPS
        icon: sh-digitalocean.svg

### NETWORKING ###

- Routers, DNS, Switches:
    - OPNSense:
        href: https://router.{{ local_cloudflare_domain }}
        siteMonitor: https://router.{{ local_cloudflare_domain }}
        description: Router/Firewall
        icon: sh-opnsense.svg
        widget:
            type: opnsense
            url: https://opnsense.{{ local_cloudflare_domain }}
            username: {{opnsense_username}}
            password: {{opnsense_password}}
    - Adguard Home:
        href: https://blocker.{{ local_cloudflare_domain }}
        siteMonitor: https://blocker.{{ local_cloudflare_domain }}
        description: Network DNS Adblocker
        icon: sh-adguard-home.svg
        widget:
            type: adguard
            url: https://blocker.{{ local_cloudflare_domain }}
            username: {{adguard_username}}
            password: {{adguard_password}}
    - Homelab 10GbE Aggregate Switch:
        href: http://192.168.86.2/
        siteMonitor: http://192.168.86.2
        description: 8x10GbE SPF+
        icon: mdi-router-network
    - Homelab 2.5GbE Mini Switch:
        href: http://192.168.86.3/
        siteMonitor: http://192.168.86.3
        description: 2x10GbE SPF+ / 4x2.5GbE
        icon: mdi-router-network
    - Homelab 2.5GbE PoE Switch:
        href: http://192.168.86.4/
        siteMonitor: http://192.168.86.4
        description: 1x10GbE SPF+ / 8x2.5GbE PoE
        icon: mdi-router-network
    - Basement PoE Switch:
        href: http://192.168.86.5/
        siteMonitor: http://192.168.86.5
        description: 8x1GbE with 4x PoE
        icon: mdi-router-network
- Access Points:
    - Omada:
        href: https://omada.montycasa.net
        siteMonitor: https://omada.montycasa.net
        description: Omada Controller
        icon: sh-omada.svg
        widget:
            type: omada
            url: https://omada.montycasa.net
            username: {{omada_username}}
            password: {{omada_password}}
            site: {{omada_site}}
    - Homelab AP:
        href: http://192.168.86.11/
        siteMonitor: http://192.168.86.11/
        description: TP-Link Omada EAP723
        icon: mdi-access-point-network
    - Kitchen AP:
        href: http://192.168.86.13/
        siteMonitor: http://192.168.86.13/
        description: TP-Link Omada EAP723
        icon: mdi-access-point-network
    - Garage AP:
        href: http://192.168.86.15/
        siteMonitor: http://192.168.86.15/
        description: TP-Link Omada EAP235-Wall
        icon: mdi-access-point-network

- Remote Access:
    - Pangolin:
        href: https://pangolin.{{ cloudflare_domain }}
        siteMonitor: https://pangolin.{{ cloudflare_domain }}
        description: Proxy and Authentication
        icon: sh-pangolin.svg
    - Tailscale:
        href: https://login.tailscale.com/admin/machines
        description: Mesh VPN
        icon: sh-tailscale.svg
    - Cloudflare:
        href: https://dash.cloudflare.com/login
        description: Domain Name and DNS Service
        icon: sh-cloudflare.svg

### HOME ###

- Home Automation:
    - Home Assistant:
        href: http://{{hostvars['homeassistant'].ip}}:{{hostvars['homeassistant'].port}}
        siteMonitor: http://{{hostvars['homeassistant'].ip}}:{{hostvars['homeassistant'].port}}
        description: Home Automation System
        icon: sh-home-assistant.svg
    - WLED Patio:
        href: http://192.168.10.19/
        siteMonitor: http://192.168.10.19/
        description: Patio wall lights
        icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/wled.png    
    - WLED Cabinets:
        href: http://192.168.10.17/
        siteMonitor: http://192.168.10.17/
        description: Kitchen under cabinet lights
        icon: https://cdn.jsdelivr.net/gh/walkxcode/dashboard-icons/png/wled.png

- NVR:
    - Frigate:
        href: https://frigate.{{ local_cloudflare_domain }}
        siteMonitor: https://frigate.{{ local_cloudflare_domain }}
        description: Network Video Recorder
        icon: sh-frigate.svg
#- Cameras:
    - Bella's Room:
        href: http://192.168.10.51/
        siteMonitor: http://192.168.10.51/
        description: IP Camera
        icon: mdi-webcam
    - Girls's Room:
        href: http://192.168.10.50/
        siteMonitor: http://192.168.10.50/
        description: IP Camera
        icon: mdi-webcam
    - Nursery:
        href: http://192.168.10.52/
        siteMonitor: http://192.168.10.52/
        description: IP Camera
        icon: mdi-webcam
    - Front Door:
        href: http://192.168.10.54/
        siteMonitor: http://192.168.10.54/
        description: IP Camera
        icon: mdi-cctv
    - Back Door:
        href: http://192.168.10.53/
        siteMonitor: http://192.168.10.53/
        description: IP Camera
        icon: mdi-cctv
    
### MEDIA ###

- Media Servers:
    - Jellyfin:
        href: https://watchit.{{ cloudflare_domain }}
        siteMonitor: https://watchit.{{ cloudflare_domain }}
        description: Movie and TV Show Library
        icon: sh-jellyfin.svg
        widget:
          type: jellyfin
          url: https://watchit.{{ cloudflare_domain }}
          key: {{jellyfin_key}}
        #  enableBlocks: true # optional, defaults to false
          enableNowPlaying: true # optional, defaults to true
          enableUser: true # optional, defaults to false
          showEpisodeNumber: true # optional, defaults to false
          expandOneStreamToTwoRows: false # optional, defaults to true
    - Immich:
        href: https://immich.{{ cloudflare_domain }}
        siteMonitor: https://immich.{{ cloudflare_domain }}
        description: Photo Library
        icon: sh-immich.svg
        widget:
          type: immich
          url: https://immich.{{ cloudflare_domain }}
          key: {{immich_key}}
          version: 2 # optional, default is 1
    - Audiobookshelf:
        href: https://audiobooks.{{ cloudflare_domain }}
        siteMonitor: https://audiobooks.{{ cloudflare_domain }}
        description: Audiobook Library
        icon: sh-audiobookshelf.svg
        widget:
          type: audiobookshelf
          url: https://audiobooks.{{ cloudflare_domain }}
          key: {{audiobookshelf_key}}

- Aar:
    - qBittorrent:
        href: https://qbittorrent.{{ local_cloudflare_domain }}
        siteMonitor: https://qbittorrent.{{ local_cloudflare_domain }}
      #  description: torrent downloader
        icon: sh-qbittorrent.svg
        widget:
            type: qbittorrent
            url: https://qbittorrent.{{ local_cloudflare_domain }}
            username: {{qbittorrent_username}}
            password: {{qbittorrent_password}}
    - Radarr:
        href: https://radarr.{{ local_cloudflare_domain }}
        siteMonitor: https://radarr.{{ local_cloudflare_domain }}
      #  description: torrent downloader
        icon: sh-radarr.svg
        widget:
            type: radarr
            url: https://radarr.{{ local_cloudflare_domain }}
            key: {{radarr_key}}
            enableQueue: true # optional, defaults to false
    - Sonarr:
        href: https://sonarr.{{ local_cloudflare_domain }}
        siteMonitor: https://sonarr.{{ local_cloudflare_domain }}
        icon: sh-sonarr.svg
        widget:
            type: sonarr
            url: https://sonarr.{{ local_cloudflare_domain }}
            key: {{sonarr_key}}
            enableQueue: true # optional, defaults to false
    - Readarr:
        href: https://readarr.{{ local_cloudflare_domain }}
        siteMonitor: https://readarr.{{ local_cloudflare_domain }}
      #  description: torrent downloader
        icon: sh-readarr.svg
        widget:
            type: readarr
            url: https://readarr.{{ local_cloudflare_domain }}
            key: {{readarr_key}}
    - Bazarr:
        href: https://bazarr.{{ local_cloudflare_domain }}
        siteMonitor: https://bazarr.{{ local_cloudflare_domain }}
      #  description: torrent downloader
        icon: sh-bazarr.png
        widget:
            type: bazarr
            url: https://bazarr.{{ local_cloudflare_domain }}
            key: {{bazarr_key}}
    - Prowlarr:
        href: https://prowlarr.{{ local_cloudflare_domain }}
        siteMonitor: https://prowlarr.{{ local_cloudflare_domain }}
      #  description: torrent downloader
        icon: sh-prowlarr.svg
        widget:
            type: prowlarr
            url: https://prowlarr.{{ local_cloudflare_domain }}
            key: {{prowlarr_key}}
    - Pinchflat:
        href: http://{{hostvars['yondu'].ip}}:8945
        siteMonitor: http://{{hostvars['yondu'].ip}}:8945
      #  description: torrent downloader
        icon: sh-pinchflat.png
    - Transmission:
        href: http://{{hostvars['yondu'].ip}}:9092/
        siteMonitor: http://{{hostvars['yondu'].ip}}:9092/
        description: NO VPN
        icon: sh-transmission.svg
        widget:
            type: transmission
            url: http://{{hostvars['yondu'].ip}}:9092
            username: ""
            password: "{{transmission_key}}"
            rpcUrl: /transmission/ # Optional. Matches the value of "rpc-url" in your Transmission's settings.json file
    - Jackett:
        href: http://{{hostvars['yondu'].ip}}:9117/
        siteMonitor: http://{{hostvars['yondu'].ip}}:9117/
        description: NO VPN
        icon: sh-jackett.svg
        widget:
            type: jackett
            url: http://{{hostvars['yondu'].ip}}:9117
           # password: jackettadminpassword # optional

### APPS ###

- Apps:
    - Nextcloud:
        href: https://drive.{{ cloudflare_domain }}
        siteMonitor: https://drive.{{ cloudflare_domain }}
        icon: sh-nextcloud.png
    - Forgejo:
        href: https://git.{{ local_cloudflare_domain }}
        siteMonitor: https://git.{{ local_cloudflare_domain }}
        icon: sh-forgejo.svg
    - Alby Hub:
        href: https://ln.{{ bc_cloudflare_domain }}
        siteMonitor: https://ln.{{ bc_cloudflare_domain }}
        icon: si-alby
    - Karakeep:
        href: https://keep.{{ cloudflare_domain }}
        siteMonitor: https://keep.{{ cloudflare_domain }}
        icon: sh-karakeep.svg
    - Paperless-ngx:
        href: https://paperless-ngx.{{ local_cloudflare_domain }}
        siteMonitor: https://paperless-ngx.{{ local_cloudflare_domain }}
        icon: sh-paperless-ngx.svg
    - Mealie:
        href: https://mealie.{{ cloudflare_domain }}
        siteMonitor: https://mealie.{{ cloudflare_domain }}
        icon: sh-mealie.svg
    - PocketID:
        href: https://auth.{{ cloudflare_domain }}
        siteMonitor: https://auth.{{ cloudflare_domain }}
        icon: sh-pocket-id.svg
