---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/settings

title: Monty Casa Homelab
favicon: https://1.bp.blogspot.com/-8pXESPi3igc/XoC5nUl5dcI/AAAAAAAAqwg/-iz6DADXKJQLoB78_Ri7g9637RlRZV2sgCLcBGAsYHQ/s1600/HomeLab_icon.png

quicklaunch:
  searchDescriptions: true
  hideInternetSearch: true
 # showSearchSuggestions: true
  hideVisitURL: true
 # provider: duckduckgo # google, duckduckgo, bing, baidu, brave or custom

providers:
  openweathermap: openweathermapapikey
  weatherapi: weatherapiapikey

layout:
  Proxmox:
    tab: Machines
  Storage:
    tab: Machines
  Other Machines:
    tab: Machines
  Offsite:
    tab: Machines
  
  Routers & Switches:
    tab: Networking
  Access Points:
    tab: Networking
  Remote Access:
    tab: Networking

  Home Automation:
    tab: Home
  NVR:
    tab: Home
    {# Cameras:
      style: row
      columns: 2 #}
  
  Media Servers:
    tab: Media
    style: row
    columns: 1
  Aar:
    tab: Media
    style: row
    columns: 3
  
  Apps:
    tab: Apps
    style: row
    columns: 3
  
  Status:
    style: row
    columns: 2
