---
# For configuration options and examples, please see:
# https://gethomepage.dev/configs/service-widgets

- logo:
    icon: https://1.bp.blogspot.com/-8pXESPi3igc/XoC5nUl5dcI/AAAAAAAAqwg/-iz6DADXKJQLoB78_Ri7g9637RlRZV2sgCLcBGAsYHQ/s1600/HomeLab_icon.png
- greeting:
    text_size: 3xl
    text: Monty Casa Homelab

- resources:
    cpu: true
    memory: true
    disk: /

- search:
    provider: duckduckgo
    target: _blank
